<div class="banner text-center">
  <h1>WELCOME HOME</h1>
  <h2>Rent unique places to stay from local hosts in 190+ countries.</h2>
  <%= link_to "How it works", "#{}", class: "btn btn-primary btn-lg" %>
</div>
