<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(-130deg, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.4)), url('images/card-paris.jpg')">
    <h2 class="location">Paris</h2>
    <img src="images/seb.jpg" alt="" class="avatar">
    <div class="wrap-card-content">
      <h3 class="title">Seb's home</h3>
      <p>Charming room with patio</p>
    </div>
  </div>
</div>
