<div class="text-center padded newsletter">
  <h2>Get news from us</h2>
  <p>Leave us your email pls</p>
  <form action="post" class="form-inline">
    <input type="email" placeholder="bob@gmail.com" class="form-control">
    <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
  </form>
</div>
